<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\bryan\Desktop\src\EDP_Project\App_Data\MyDB.mdf;Integrated Security=True"/>
	</connectionStrings>
  <system.web>
	<compilation debug="true" targetFramework="4.7.2" />
	<httpRuntime targetFramework="4.7.2" maxRequestLength="16384" />
  </system.web>

  <system.serviceModel>
	<bindings>
	  <basicHttpBinding>
		<binding name="BasicHttpBinding_IService1" />
	  </basicHttpBinding>
	</bindings>
	<client>
	  <endpoint address="http://localhost:8733/Design_Time_Addresses/DBService/Service1/"
		binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
		contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
	</client>
  </system.serviceModel>
</configuration>
